#root {
  margin: 0 auto;
  background-color: rgb(39, 45, 52);
  height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  margin: 0;
  /* background-color: rgb(39, 45, 52); */
}

/**************************** Navbar Component Styling *********************************/
.nav-bar {
  display: flex;
  width: 100%;
  background-color: rgb(32, 34, 42);
  align-items: center;
  height: 90px;
  padding: 1% 3%;
}

.nav-right,
.nav-left {
  width: 50%;
  display: flex
}

.nav-right {
  justify-content: flex-end;
}

.nav-left {
  justify-content: flex-start;
  align-items: center;
}

.nav-left > img {
  width: 30px;
  height: auto;
  margin-right: 7px;
}

.nav-left>h3 {
  font-size: 2.2rem;
  margin:0;
  font-weight: 700;
  color: rgb(0, 216, 255);
}

.nav-right>h4 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 600;
  color: rgb(188, 196, 205);
}

/**************************** Main Component Styling *********************************/
main {
 padding: 57px 27px;
 background-image: url(./assets/react-icon-large.png);
 background-repeat: no-repeat;
 background-position-x: right;
 background-position-y: 75%;

}

.main-title{
 font-size: 4rem;
 color: rgb(254, 255, 255);
 font-weight: 700;
 margin: 0;
 letter-spacing: -0.05rem;
}

.main-list {
 margin-top: 4.6rem;
 max-width: 400px;
}

.main-list > li {
 color: rgb(188, 196, 205);
 font-size: 1.6rem;
 line-height: 1.9rem;
 padding-block: 10px;

}

.main-list > li::marker {
 font-size: 2.2rem;
 color: rgb(0, 216, 255);

}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
